<h1>You fell in love with: <%= thingVar %></h1>

<% if (thingVar.toLowerCase() === 'rusty') { %>
  <p>Good choice! Rusty is the best!</p>
<% } else {%>
  <p>Bad choice. You should have said Rusty.</p>
<% } %>
<p>p.s. this is the fell in love with file</p>